@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* * {
    scrollbar-width: thin;
    scrollbar-color: black transparent;
} */
/* 
::-webkit-scrollbar {
    width: 2em;
}

::-webkit-scrollbar-track {
    background: repeating-conic-gradient(#808080 0% 25%, transparent 0% 50%) 50% / 10px 10px;
    border-left: 4px solid black;
}

::-webkit-scrollbar-thumb {
    background: black;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-left: 8px solid transparent;
    border-radius: 100vw;
}

::-webkit-scrollbar-thumb:hover {
    background: #101010;
    background-clip: padding-box;
    border: 4px solid transparent;
    border-left: 8px solid transparent;
    border-radius: 100vw;
} */